<div>
    <input type="checkbox" id="terminos-condiciones" name="terminos-condiciones" value="1">
    <label for="terminos-condiciones"> Acepto términos y condiciones</label>

    <button type="submit" title="<?= $escaper->escapeHtmlAttr(__('Add to Cart')) ?>" class="action  primary" data-bind="enable: false">
        <span><?= $escaper->escapeHtml(__('Add to Cart')) ?></span>
    </button>
</div>






<script>
    require([
        'jquery',
        'ko'
    ], function($, ko) {
        $(document).ready(function() {



            console.log("hola mundo ");

        });


    });
</script>
