<?php ?>

<form class="form form-login" action="http://local.magento.com/customer/account/loginHashPost/" method="post"
      id="login-form" novalidate="novalidate">

    <fieldset class="fieldset login" data-hasrequired="* Campos obligatorios">
        <div class="field email required">
            <label class="label" for="email"><span>Email</span></label>
            <div class="control">
                <input name="login[username]" value="" autocomplete="off" id="email" type="email" class="input-text"
                       title="Email" data-validate="{required:true, 'validate-email':true}" aria-required="true">
            </div>
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit" class="action login primary" name="send" id="send2"><span>Send hash</span>
                </button>
            </div>
        </div>
    </fieldset>
</form>
